# Flutter / Dart
build/
bdApps/
android/app/build/
ios/Flutter/
.dart_tool/
.packages
pubspec.lock


# Large native libraries (very important)
*.so

# Generated APK/AAB
*.apk
*.aab
*.ipa

# Gradle
android/.gradle/